.btn {
  font: bold 2vh "Courier New";
  color: white;
  cursor: pointer;
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
}

.logo {
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .btn {
    font: italic bold 1.3vh "Courier New";
    color: white;
    cursor: pointer;
  }
}