.btn {
  font: bold 2vh "Courier New";
  color: white;
  cursor: pointer;
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
  transform: scale(1) translateY(1px);
  transition: transform 0.25s;
  &:hover {
    transform: scale(1.1) translateY(-1px);
    transition: transform 0.25s;
  }
}

.logo {
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .btn {
    font: italic bold 1.3vh "Courier New";
    color: white;
    cursor: pointer;
  }
  button {
    height: 40px;
    width: 40px;
    background-color: transparent;
    font: 1.3vh "Courier New";
    border: 1px solid #2e5a88;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    > a {
      text-decoration: none;
      color: white;
    }
  }
}
