.landingWrapper {
  /* height: 100%; */
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* overflow: auto; */
  /* background-color: blue; */
}
/* #0a192f; */
.content {

  /* overflow: auto; */
  /* //padding: 0px 150px; */
  background-color: #018CFE;
  margin-top: 60px;
  /* display: grid;
  place-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}


.Default {
  /* height: 100%;
  width: 100%; */
  /* display: grid;
  place-items: center; */
  /* width: 60%; */
  /* @media (min-width: 480px){
     padding: 0px 50px;
  } */
  /* min-width: 500px; */
  /* overflow: auto; */
  /* // E3E8F8
// 018CFE
//3776FD
// 0AC1FD */
  background-color:  #018CFE;
  opacity: 1;
  /* transition: all 2000ms linear; */
}

.Loading {
  opacity: 0;
}

.jobsWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0px;
  width: 90%;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: 'Courier New';
  margin-bottom: 40px;
}

.typingBorder {
  color: white;
}

.about {
  /* min-height: 600px; */
  width: 100%;
  min-width: 260px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  place-items: center;
  background-color: #233554;
 
  gap: 10px;
  padding: 20px;
  margin: 20px 0;
  /* border-radius: 30px; */
}

.experience {
  width: 100%;
  min-width: 260px;
  display: grid;
  grid-template-rows: repeat(1fr);
  place-items: center;
  background-color: #233554;
  /* border-radius: 30px; */
}

.skills {
  width: 100%;
  min-width: 260px;
  display: grid;
  place-items: stretch;
  text-align: center;
  /* padding: 0px 50px; */
  background-color: #233554;
  /* border-radius: 30px; */
}

.skillsRow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.interests {
  width: 100%;
  min-width: 260px;
  display: grid;
  place-items: center;
  background-color: #233554;
  /* border-radius: 30px; */
}

.projects {
  height: 1300px;
  width: 100%;
  min-width: 260px;
  background-color: #233554;
  display: grid;
  grid-template-rows: 60px 440px 440px;
  grid-template-columns: auto;
  gap: 10px;
  padding: 20px;
  margin: 20px 0;
  /* border-radius: 30px; */
}

.projectItem {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  /* grid-template-rows: 1fr 3fr 1fr; */
  background-color: pink;
}

.col1 {
  background-color: green;
  > h3 { color: #0a192f};
  color: #0a192f;
 
  display: grid;
  place-items: center;
  grid-template-rows: 60px 300px 80px;
  grid-auto-columns: auto;
  /* align-items: center;
  justify-content: center; */
}

.col2 {
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 20px;
}

/* .projectItem:nth-child(2) {
 
} */

.anchorWrapper {
  height: 300px;
  width: 100%;
  min-width: 150px;
  transform: scale(1);
  transition: transform 800ms;
  &:hover {
    transform: scale(1.08);
    transition: transform 800ms;
    cursor: pointer;
  } 
}

.projectDescription {
  box-shadow: 10px 5px 10px gray;
  height: 50%;
  padding: 20px;
  /* border-radius: 10px; */
  border: 1px solid black;
  color: black;
  background-color: #f9f9f9;
  text-align: left;

  /* background-color: blue; */
}



.projectLangs {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.contactLinks {
  width: 40px;
  position: fixed;
  left: 80px;
  bottom: 0px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0px;

  > div {
    padding: 5px 0px;
    transform: translateY(3px);
    transition: transform 0.25s;
    &:last-of-type {
      margin-bottom: 20px;
    }
    &:hover {
      transform: translateY(-3px);
      transition: transform 0.25s;
    }
    > a:hover {
      fill: white;
    }
  }
}

.emailWrapper {
  width: 40px;
  /* height: 200px; */
  position: fixed;
  right: 80px;
  bottom: 0px;
  z-index: 10;

  padding: 0px;
  margin: 0px;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
  /* transform: translateY(2px);
  transition: transform 0.25s; */

 
  > a {
    color: black;
    margin-bottom: 20px;
    position: relative;
    text-decoration-skip-ink: auto;
    display: inline-block;
    writing-mode: vertical-rl;
    text-decoration: none;
    transform: translateY(2px);
    transition: transform 0.25s;
    letter-spacing: 0.1em;

    &:hover {
      color: white;
      transform: translateY(-2px);
      transition: transform 0.25s;
    }
  
  }
}

.contactLinks::after, .email::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: black;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border-bottom: 1px dashed black;

  > div {
    /* padding: 5px 0px; */
    transform: translateY(3px);
    transition: transform 0.25s;

    &:hover {
      transform: translateY(-3px);
      transition: transform 0.25s;

    }
    > a:hover {
      fill: white;
    }
  }
}

.imageWrapper {
  height: 300px;
  width: 100%;
  min-width: 150px;
  display: flex;
  justify-content: center;
}

img {
  height: auto;
  max-width: 80%;
  border-radius: 20px;
}



@media (min-width: 1080px) {
  .Default {
    padding: 0px 200px;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .Default {
    padding: 0px 100px;
  }
  /* .about {
    background-color: red;
  } */
  .emailWrapper {
    right: 30px
  }
  .contactLinks {
    left: 30px;
  }
} 

@media (max-width: 768px) {
  .Default {
    padding: 0px 100px;
  }
}

@media (max-width: 650px) {
  .skillsRow {
    flex-direction: column;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .Default {
    padding: 0px 50px;
  }
  .about {
    display: block;
    min-height: 600px;
    /* grid-template-rows: 1fr 1fr;
    grid-template-columns: auto; */
  }
  .headshotWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    max-width: 65%;
  }
}
@media (max-width: 480px){
  .Default {
    padding: 0 10px;
  }
  .about {
    display: block;
    min-height: 600px
    /* width: 420px; */
  }
  .headshotWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    max-width: 80%;
  }
  .skillsRow {
    flex-direction: column
  }
};

/* @media (min-width: 320px) and (max-width: 480px){
  .Default {
    padding: 0px 5px;
  }
} */