.App {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background-color: #018CFE;
}

/* .noise {
  opacity: 0.2;
  inset: -200%;
  width: 400%;
  height: 400%;
  position: absolute;
  background-size: 256px 256px;
  background-repeat: repeat;
  background: url('https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png');
} */

p {
  color: white;
  font-size: 1.2em;
}

h1 {
  color: white;
  font-size: 2.2em;
  margin: 0;
}

h2 {
  color: white;
  font-size: 1.8em;
  margin: 0;
}

h3 {
  color: white;
  font-size: 1.5em;
  margin: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.65em;
  }
  h3 {
    font-size: 1.35em;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.5em;
    font-weight: normal;
  }
  h3 {
    font-size: 1.1em;
    font-weight: normal;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.35em;
    font-weight: normal;
  }
  h3 {
    font-size: 0.95em;
    font-weight: normal;
  }
}